{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<section class="section landing-section">
<div class="page is-primary">
  {% let current_page = "account" %}
  {% include "nav.html" %}

  <div class="hero-body">
    <div class="container is-max-desktop">

      <p class="title is-1">Account</p>


      <div class="field is-horizontal">
        <div class="field-label is-normal"><label class="label">Name</label></div>
        <div class="field-body"><input class="input" type="text" value="{{ name }}" readonly></div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label is-normal"><label class="label">Email</label></div>
        <div class="field-body"><input class="input" type="email" value="{{ email }}" readonly></div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal"><label class="label">Stream key</label></div>
        <div class="field-body">
          <div class="field">
            <div class="buttons">
            <button onclick="copyToClipboard();" class="button is-primary">
              Copy key to clipboard
            </button>

            <form action="/account/new-stream-key" method="post">
              <button type="submit" class="button is-warning">
                Generate new key
              </button>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <details>
              <summary>
                <p style="display:inline;" class="label is-warning">Show key</p>
              </summary>

              <input id="stream-key" class="input" type="text" value="{{ stream_key }}" readonly>

            </details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<script type="text/javascript">
  function copyToClipboard() {
      navigator.clipboard.writeText(document.getElementById("stream-key").value);
  }
</script>
{% endblock %}
