{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<section class="section landing-section">
  {% let current_page = "signup" %}
  {% include "nav.html" %}

  <div class="container landing-content">
    <div class="column is-5">
      <p class="title is-1">Create account</p>

      <form action="/account/activate" method="post">
        <div class="field">
          <label class="label">Name</label>
          <input class="input" type="text" name="account-name">
        </div>

        <div class="field">
          <label class="label">Email</label>
          <input class="input" type="email" value="{{ email }}" name="email">
        </div>

        <div class="field">
          <label class="label">Password</label>
          <input class="input" type="password" name="password">
        </div>

        <div class="field">
          <label class="label">Repeat Password</label>
          <input class="input" type="password" name="repeat-password">
        </div>

        <input type="hidden" name="secret" value="{{ secret }}">

        <div class="field">
          <button type="submit" class="button is-success">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
  </div>
</section>
{% endblock %}
