{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<section class="section landing-section">
  {% let current_page = "index" %}
  {% include "nav.html" %}

  <div class="container landing-content has-text-centered">
    <img class="frugal-image" src="/static/frugal_man.png" />
    <p class="subtitle mt-5">
      Livestreaming service on a budget
    </p>

    <div class="buttons flex-center">
      <a href="/streams" class="is-size-4 button is-primary has-text-weight-bold">Watch streams</a>
    </div>
  </div>
</section>
{% endblock %}
