<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/mystyles.css">
    <link rel="stylesheet" href="/static/css/dygraph.css">
    <link rel="shortcut icon" href="/static/favicon.png">
    <script type="text/javascript"></script>
    <title>qwer.ee</title>
  </head>
  <body>

    <section class="section landing-section">
      <nav class="level">
        <div class="level-left">
          <a class="level-item" href="/">
            <img class="frugal-image" src="/static/logo.png" />
          </a>
        </div>

        <div class="level-right">
          <div class="level-item buttons">
            <a href="/account/dashboard" class="button is-link has-text-weight-bold">Dashboard</a>
            <a href="/account" class="button is-link has-text-weight-bold">Account</a>
            <a href="/help/intro" class="button is-link has-text-weight-bold">Help</a>
          </div>
        </div>
      </nav>

      <div class="container landing-content has-text-centered">
        <img class="frugal-image" src="/static/frugal_man.png" />
        <p class="subtitle mt-5">
          Livestreaming service on a budget
        </p>

        <div class="buttons flex-center">
          <a href="/streams" class="is-size-4 button is-primary has-text-weight-bold">Watch streams</a>
        </div>
      </div>
    </section>
  </body>
</html>
