{% extends "base.html" %}
{% block title %}Streams{% endblock %}

{% block content %}
<section class="section landing-section">
  {% let current_page = "streams" %}
  {% include "nav.html" %}

  {% if streams.len() == 0 %}
  <div class="container landing-content">
    <div class="content landing-content stream-card-parent">
      <img class="frugal-image" src="/static/cat.png" />
      <p class="title is-3">No streams!</p>
      <p class="subtitle is-5">Check back a little later...</p>
    </div>
  </div>
  {% else %}

  <div class="container is-max-desktop">
    <div class="content stream-card-parent">
      {% for stream in streams %}
      <a href="/{{ stream.name }}">
        <div class="stream-card">
          <img stream-id="{{ stream.name }}" class="stream-poster" src="/static/placeholder.png">
          <p><b>{{ stream.name }}</b> | {{ stream.viewers }} viewers</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</section>

<script type="text/javascript">
  TRANSPORT_ADDRESS = "{{ transport_address|safe }}";
</script>
<script src="/static/js/index2.bundle.js" type="text/javascript"></script>
{% endblock %}
