{% extends "base.html" %}
{% block head %}
<meta http-equiv="Content-Security-Policy"
    content="
    img-src 'self' blob: data:;
    media-src 'self' blob:;
    default-src * 'self' 'unsafe-inline' data:">
{% endblock %}
{% block title %}{{stream}}{% endblock %}

{% block content %}
<figure id="video-container" class="stream-bg">
  <video controls id="stream" class="stream">
    Not supported!
  </video>
</figure>

<div id="overlay" class="overlay-container hidden">
  <h1 class="overlay-text">Enable autoplay or press play to start</h1>
</div>

<script>
  RTMP_MSE_STREAM="{{ transport_address|safe }}/transport/mse/{{ stream }}";
</script>
<script src="/static/js/index.bundle.js"></script>
{% endblock %}
