.video-wrapper {
    width: 100%;
    background-color: grey;
    text-align: center;
    position: relative;
}

/*.video-wrapper:hover .video-stats {
    display: block;
}

.video-stats {
    display: none;
}*/

.video {
    background-color: #444;
}

video {
    background-color: #444;
    width: 100%;
}
